{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accueil/style.css' %}">
<!--image provenant de www.amelieburie.ch-->


<body>

<h1 align="center">
    Frigo'necté
</h1>
<hr/>
<div align="center">
<a href="/monfrigo/" class="button">Mon Frigo</a>
</div>

<div>
    <p>
        L'application Frigo'necté te sert à organiser toute la nourriture chez toi. 
        Avec elle, tu pourras savoir ce qu'il y a dans ton frigo à tout moment : chez toi évidemment, dans la rue, au supermarché, en cours, etc.
        Tu peux même définir ton menu pour la prochaine semaine : lundi midi courgette cuite, lundi soir courgettes au fromage... 
        Et s'il te manque quelque chose ? Pas de problème ! Frigo'necté te permettra de faire ta liste de course et d'y ajouter facilement ce qui te manque pour ton menu.
        <br/><br/>
        Tu ne sais pas quoi manger ? Grâce aux nombreuses recettes disponibles sur l'application, tu n'auras plus ce problème.
        Choisis la base puis l'app te propose des recettes en fonction de ce que tu as déjà chez toi. 
        Mais tu peux aussi expérimenter de nouveaux plats sans soucis, l'app ajoutera les ingrédients manquants dans ta liste de course.
        Tu peux créer tes propres recettes et les sauvegarder.
        Recettes secrètes ou recettes à partager ? Tu choisis !
        <br/><br/>
        Frigo'necté te permet de partager ton frigo, idéal pour le frigo de la coloc' ou de la famille. Pour préparer les repas ensemble ou faire les courses.
        Frigo'necté te permettra aussi de séparer un frigo réel. 
        En effet, pour ceux qui préfèrent ne pas partager le frigo <i>-en raison de tout ce qui y disparaît-</i>, il est possible de créer plusieurs frigo pour chaque personne de ta coloc', finis les problèmes !
        <br/><br/>
        N'hésite pas à essayer Frigo'necté, c'est gratuit !
    </p>

<h3>Liste des fonctions de l'application à ce jour </h3>
<ul>
    <li><a href="/login/">Login</a></li>
    <li><a href="/creation_compte/">Créer un compte</a></li>
    <li><a href="/frigo/">Frigo</a></li>
    <li><a href="/monfrigo/">Mon frigo, page principale</a></li>
    
</ul>
</div>

<div align="center">
    <a href="/monfrigo/" class="button">Mon Frigo</a>
    </div>

<div align="right">
    <p> €€ Aidez Bryan à acheter un nouveau PC €€</p>
</div>
</body>