<header style="text-align:center;">
    Frigonnecté
</header>
    
<div>
<h3>Liste des apps</h3>
<ul>
    <li><a href="/calendrier/">Calendrier</a></li>
    <li><a href="/login/">Login</a></li>
    <li><a href="/creation_compte/">Créer un compte</a></li>
    <li><a href="/frigo/">Frigo</a></li>
    <li><a href="/monfrigo/">Mon frigo, page principale</a></li>
    <li><a href="/liste_courses/">Liste de courses</a></li>
    <li><a href="/parametres/">Paramètres</a></li>
    <li><a href="/recette/">Recette</a></li>
    
</ul>
</div>